@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

h1{
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}

h2{
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;
}

h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}

h4{
    color: #505050;
    font-size: 18px;
    line-height: 28px;
}

p{
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5px;
}

/*MENU*/
.navbar{
    background: black;
}
.navbar .navbar-brand{
    font-weight: normal;
    font-size: 25px;
    color: white;
}

.navbar .navbar-brand:hover{
    background: transparent;
    color: #fff;
}

.navbar .navbar-nav .nav-link{
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0;
    text-transform: uppercase;
    transition: all-ease-in 0.4s;
    color: white;
}

.navbar .navbar-nav .nav-link:hover{
    background: transparent;
    color: white;
}

.navbar .navbar-nav .nav-link:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::after{
    width: 100%;
    background: orange;
    color: #ffffff;
}

/*FORM*/
.form {
    margin-top: 630px;
    margin-bottom: -330px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 40px;
    padding-bottom: 100px;
    background: white;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: solid;
    border-color: orange;
}

.form h2 {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0 16vw 0 16vw;
    color: black;
}

.form .inputbox {
    position: relative;
    width: 46vw;
}

.form .inputbox input {
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: 1px solid black;
    outline: none;
    background: transparent;
}

.form .inputbox label {
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.form .fileuploadinputbox label{
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.form .docinputbox label {
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.form .btn button[type="button"] {
    background: transparent;
    border: none;
    outline: none;
    color: black;
    background: white;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin: 45px 0 0 0;
}

.form .btn button[type="reset"] {
    background: transparent;
    border: none;
    outline: none;
    color:black;
    background: white;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 50%;
    margin: 45px 10px 0 0;
}

.form input[type="radio"]{
    margin: 0 60px 0 0;
}

#Reset, #Submit{
    border: 1px solid black;
}

#contact{
    background: url(contactus-background-right.jpg) 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
}
